<ul class="nav nav-tabs">
  <li role="presentation" class="<%= "active" if @nav=="index" %>"><%= link_to "首頁", restaurants_path %></li>
  <li role="presentation" class="<%= "active" if @nav=="feeds" %>"><%= link_to "動態", feeds_restaurants_path %></li>
</ul>
<div class="clearfix"></div>